/*!
Theme Name: emagid
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: emagid
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

emagid is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}


/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #f9f9f9;
    font-family: 'Frutiger';
    font-weight: normal;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
}

/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/
.header_wrapper {
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
}
.header_container {
    width: 92%;
    margin: 0 auto;
    padding-top: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #fff;
}
ul.mega-sub-menu {
/*    height: 300px !important;*/
    min-width: 450px;
    width: 100% !important;
    position: absolute;
}
.header_nav {
    width: 40%;
    float: left;
}
.header_nav a {
    color:#fff;
    text-transform: uppercase;
    font-family: 'Frutiger-Lt';
    font-size: 13px;
    letter-spacing: 1.5px;
}
.header_nav ul li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}
.header_branding {
    width: 30%;
    float: left;
    text-align: center;
}
h1.site_title {
    color:#fff;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Frutiger-Blk';
}
.header_links {
    width: 40%;
    float: left;
    text-align: right;
}
.header_links a {
    color:#fff;
    text-transform: uppercase;
    font-family: 'Frutiger-Lt';
    font-size: 13px;
    letter-spacing: 1.5px;
}
.header_links ul li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}
.search_field {
    position: absolute;
    top:10px;
    right:50px;
}
.search_field input#s {
    border:0;
    outline: 0;
}
.search_field input#searchsubmit {
    border:0;
    background: #012a31;
    color:#fff;
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 3px
}

/*--------------------------------------------------------------
# SEARCH PAGE
--------------------------------------------------------------*/
section.search_results {
    padding-top: 50px;
    text-align: center;
}
section.search_results main {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
section.search_results header.page-header {
    margin-bottom: 50px;
}
section.search_results header h1 {
    color:#fff;
}
section.search_results main article {
    float: left;
    width: 29.3%;
    margin-left: 2%;
    margin-right: 2%;
}
section.search_results main article a {
    pointer-events: none;
}
body.search-results .header_wrapper {
    height: auto;
    padding-bottom: 50px;
}
body.search-results nav.navigation.posts-navigation {
    clear: both;
    display: none;
}
section.search_results main article h2.entry-title {
    height: 60px;
}
section.search_results main article h2.entry-title a {
    color:#fff;
    font-size: 16px;
}
section.search_results main article img {
    display: block;
    width: auto;
    height: 300px;
    margin: 0 auto 20px;
    
}
section.search_results main article .entry-summary {
    display: none;
}



/*--------------------------------------------------------------
# HOME HERO
--------------------------------------------------------------*/
.hero_front {
    height: 100%;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 100px;
    text-align: center;
}

.hero_front h1 {
    color:#fff;
    text-transform: uppercase;
    font-size: 42px;
    letter-spacing: 2px;
}
.hero_front p {
    color:#fff;
    font-family: 'Frutiger-Lt';
    font-size: 18px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
}
.woocommerce ul.products li.product a img {
    max-height: 300px;
    width: auto;
    margin: 0 auto;
}
.product_options {
    width: 100%;
    max-width: 700px;
    overflow: hidden;
    position: absolute;
    bottom: -100px;
}
.product_select.main {
    width: 31.3%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 20px;
    float: left;
    height: 180px;
}
.product_select,
.product_grid ul li{
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    text-align: center;
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
}
.product_select img {
    height: 40px;
    margin: 0 auto 20px;
}
.product_select h5 {
    color:rgba(0, 0, 0, 0.7);
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    line-height: 2em;
}


/*--------------------------------------------------------------
# FRONT PAGE
--------------------------------------------------------------*/
.page_container .wrapper {
    width: 80%;
    margin: 0 auto;
}
.page_container#home {
    padding-top: 100px;
}
.page_content > div {
    padding-bottom: 50px;
}
.page_content h1 {
    color:#012a31;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1.5px;
    line-height: 4em;
}
.page_content p {
    color:#012a31;
    font-family: 'Frutiger-Lt';
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 2em;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    width: 95%;
}
.mid_layer {
    background: #fff;
    padding-top: 50px;
}

.product_grid {
    overflow: hidden;
    margin-top: 50px;
}
.product_grid .product_select,
.product_grid ul li{
    margin-top: 20px;
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 20px;
}
.product_grid .product_select p,
.product_grid ul li h2{
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    width: 95%;
    margin: 0 auto;
}
.product_grid ul li a {
    color:#a8cfd0;
    pointer-events: none;
}
.product_grid .product_select img,
.product_grid ul li img{
    height: 150px;
    width: auto;
    margin-bottom: 20px;
}

.lower_level {
    padding-top: 100px;
    background: #fff;
}
.ig_grid {
    width: 100%;
}
.ig_grid img {
    width: 100%;
}


/*--------------------------------------------------------------
# FOOTER / SIDEBAR
--------------------------------------------------------------*/
footer {
    background-color:#012a31;
    height: 150px;
        display: flex;
    justify-content: center;
    align-items: center;
}
footer.entry-footer {
    display: none;
}
aside#secondary {
    display: none;
}


/*--------------------------------------------------------------
# WOOCOMMERCE
--------------------------------------------------------------*/
a.button.product_type_grouped {
    display: none;
}
.woocommerce .header_wrapper{
    height: auto;
}
a.button.product_type_simple.ajax_add_to_cart {
    display: none;
}
ul.products.columns-4 {
    pointer-events: none;
    margin-bottom: 100px;
    min-height: 500px;
    padding-top: 50px;
}
h1.entry-title,
.entry-content{
    width: 90%; 
    margin: 0 auto;
    padding-top: 50px;
}
h1.entry-title {
    color:#fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 42px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 50px;
}
p.woocommerce-result-count {
    color:#fff;
}
.entry-content a {
    color:#fff;
    text-align: center;
}

/*--------------------------------------------------------------
# FRONT PAGE
--------------------------------------------------------------*/
@media screen and (max-width:950px) {
    .header_branding {
        width: 60%;
    }
    .product_select {
        width: 31.3%;
        margin-left: 1%;
        margin-right: 1%;
        height: 140px;
    }
    .hero_front {
        max-height: 350px;
    }
    .header_wrapper {
        height: 450px;
    }
    .page_container .wrapper {
        width: 90%;
    }
    .page_content {
        text-align: center;
    }
    .page_content h1 {
        line-height: 2em;
        font-size: 18px;
    }
    .page_content p {
        width: 100%;
    }
    .product_grid .product_select {
        width: 48%;
    }
    
    #responsive-menu-container {
        padding-top: 100px !important;
    }
    #responsive-menu-container #responsive-menu li.responsive-menu-item .responsive-menu-item-link {
            text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Frutiger-Blk';
    }
    .product_grid ul li {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .search_field {
        display: none;
    }
    .header_container {
        padding-top: 0;
    }
    section.search_results main article {
        width: 100%;
        float: none;
        margin-left:auto;
        margin-right: auto;
    }
}